.homepage
  .hero-section
    .hero-text

  .how-it-works
    %h1 How It Works
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    %p Ut enim ad minim veniam, quis nostrud exercitation ullamco.

  .bets
    %h1 Get Betting
    - @bets.each do |bet|
      %h2= bet.title
      %h4= number_to_currency(bet.pot, :unit => "£")
      %p= bet.end_time.strftime("%H:%M:%S | %a %d %b")
      %p Bets placed : #{bet.user_bets.length}
      = link_to "Make a bet", bet_path(bet), class: 'button small'